@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,400,700,900|Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

body { 
    font-family: 'Noto Sans KR';
    font-size: 16px;
    color:#000; 
}

.ftEn { 
    font-family: 'Lato' !important;
}

.section_title {
    padding-bottom:15px;
    font-size:26px;
    font-weight: 400;
    color:#fff;
    border-bottom: 1px solid #202020;
}

.extra_dot {
    display:inline-block;
    vertical-align: middle;
    width: 3px;
    height: 3px;
    margin-right:3px;
    background-color: #707070;
    border-radius: 50%;;
}

#footer {
    position: absolute;
    top:auto;
    left:0;
    bottom:0;
    width: 100%;
    padding:20px 0;
}

#footer address {
    font-size:12px;
    font-style: normal;
    color:#707070;
    text-align: center;
}

#footer .copyright {
    padding-top:3px;
    font-size:12px;
    color:#707070;
    text-align:center;
}