html,body{
    height:100%;
    overflow: hidden;
    background-color:#000;
}

#main_container {
    height:100%;
    padding:50px;
    font-size:0;
    overflow: hidden;
    box-sizing: border-box; 
}

#profile_wrap {
    display:inline-block;
    vertical-align: top;
    width: 45%;
    padding-right:20px;
    box-sizing: border-box;
}

#companyHistory {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    height: 100%;
    padding-right:10px;
    box-sizing: border-box;
}

#portfolio {
    display: inline-block;
    vertical-align: top;
    width: 27%;
    height: 100%;
}

/* ====== Profile ====== */
#profile {
    margin-bottom: 20px;
}

#profile h2 {
    font-size:30px;
    font-weight: 400;
    color:#fff;
}

#profile .subtitle {
    font-size:16px;
    color:#fff;
}

#profile .sub_text {
    font-size:12px;
    color: #959595;
}

#profile .thumbImg {
    display: inline-block;
    vertical-align: middle;
    width:150px;
    height: 150px;
    border:5px solid #202020;
    border-radius: 50%;
    background-image: url('/inc/img/my01.jpeg');
    background-size: cover;
}
#profile .profileTitle {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 160px);
    padding-left:20px;
    box-sizing: border-box;
}

#profile::after{
    display: block;
    content: "";
    clear: both;
}

/* ====== my history List ====== */
#my_historyList {
    height: 100%;
    overflow: hidden;
}
#my_historyList h2 {
    font-size:26px;
    font-weight: 400;
    color:#fff;
}

#my_historyList h3 {
    padding-bottom: 10px;
    font-size:20px;
    font-weight: 400;
    color:#fff;
}

#my_historyList h4 {
    font-size:16px;
    font-weight: 400;
    color:#fff;
}

#my_historyList h5 {
    font-size:16px;
    font-weight: 400;
    color:#fff;
}

#my_historyList .introduction .sub_text{
    font-size:14px;
}

#my_historyList .sub_text{
    font-size:12px;
    color:#959595;
}

.academy {
    padding-top:20px;
    font-size: 0;
}

.academy .academy_list {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    min-height:171px;
    padding:20px;
    background-color: #202020;
    box-sizing: border-box;
}

.academy .academy_list:first-of-type{
    margin-right:4%;
}

.academy_list h4 {
    padding-bottom: 7px;
}

.academy_list h4 span{
    font-size:12px;
    color:#949495;
}

.introduction {
    padding:10px;
    height: 370px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    box-sizing: border-box;
}
.introduction::-webkit-scrollbar{
    display: none;
}

.introduction .qnalist {
    padding-top:20px;
}

.introduction .qnalist h5{
    padding-bottom: 7px;
}

/* ====== Company history List ====== */

#companyHistory #cp_historyList {
    height: calc(100% - 48px);
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#companyHistory #cp_historyList::-webkit-scrollbar {
    display:none;
}

#companyHistory .company_list {
    margin-top: 10px;
    padding-top: 10px;
    border-top:1px solid #202020;
}

#companyHistory .company_list:first-child{
    margin-top: 0;
    border-top: 0;
}

.slowAdd .company_list {
    opacity: 1;
    transition: 1s;
}

.company_list .list_head {
    position: relative;
}

.company_list .cp_name {
    font-size:20px;
    color:#fff;
    font-weight:normal;
}

.company_list .cp_workday {
    position: absolute;
    top:auto;
    right:0;
    bottom:0;
    left:auto;
    font-size:12px;
    color:#949495;
}    

.company_list .cp_intro {
    font-size:16px;
    color:#c4c4c4;
}

.company_list .work_intro{
    margin-top:5px;
    padding:10px;
    background:#202020;
}

.company_list .work_intro p{
    font-size:12px;
    color:#949495;
}

.company_list .cp_Portfolio {
    display:block;
    padding:5px 10px;
    margin-top:10px;
    background-color: #555;
    font-size: 12px;
    color: #b4b4b4;
    border:0;
    outline:none;
}

.company_list .cp_choose {
    font-size: 11px;
    color: #949495;
}

.company_list .cp_skils {
    font-size: 12px;
    color:#949495;
}




/* ====== Portfoilo List ====== */

.all_ptList{ 
    font-size: 12px;
    color: #949494;
}
#portfolio_list {
    height: calc(100% - 45px);
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
}

#portfolio_list::-webkit-scrollbar{
    display:none;
}

.listItem {
    padding:20px;
    margin-top:10px;
    background:#202020;
    box-sizing:border-box;
}
.listItem:hover{
    background-color: #960000;
    transition: 1s;
}
.listItem:hover .useSkill{
    color:#fff;
    transition: 1s;
}

.listItem:first-child {
    margin-top:0;
}

.listTitle{
    color:#fff;
    font-size: 20px;
    font-weight:400;
}
.guideTxt{
    padding-bottom:10px;
}

.guideTxt p {
    font-size:12px;
    color:#b4b4b4;
}

.useSkill {
    padding-bottom:10px;
    font-size:12px;
    color:#555555;
}

.extra_txt:after {
    display: block;
    content:'';
    clear: both;
}

.linkUrl{
    float:left;
    color:#949495;
    font-size:12px;
}

.listDay {
    float: right;
    font-size:11px;
    color:#fff;
}


@media screen and (max-width:1200px){
    #profile_wrap { display:block; width: 100%; padding-right:0}
    #main_container { overflow: auto;}

    #portfolio, #companyHistory { margin-top: 30px; width:50%;}
    #portfolio { padding-left:10px; box-sizing: border-box;}
}

@media screen and (max-width:750px){
    #main_container{ padding:20px; }
    #portfolio, #companyHistory {display: block; width: 100%; height: auto; padding:0; }
    .introduction { height: auto; }
    .academy .academy_list { display: block; width: 100%; min-height: auto; }
    .academy .academy_list:first-of-type{ margin-right:0; margin-bottom: 10px; }
    
    #companyHistory #cp_historyList {height: auto; overflow:auto;}
    #portfolio #portfolio_list { height:auto; overflow: auto; }
    #profile { text-align:center;}
    #profile .thumbImg { display: block; margin:0 auto; }
    #profile .profileTitle { display:block; width: 100%; padding:0; }
}

@media screen and (max-width:414px){
    #profile h2 { letter-spacing: -1px; }
    #profile .subtitle { font-size: 14px; letter-spacing: -0.5px; }
    #main_container{ padding:10px; }
    .introduction{ padding:0; margin-top:10px;}
}