html,body{
    height:100%;
    overflow: hidden;
    background-color:#000;
}

#main_container {
    height:100%;
    padding:50px 50px 50px 300px;
    font-size:0;
    box-sizing: border-box; 
}

/* ====== Profile ====== */
#profile_wrap {
    display:inline-block;
    vertical-align: top;
    width: 33%;
}

#profile h2 {
    font-size:30px;
    font-weight: 400;
    color:#fff;
}

#profile .subtitle {
    font-size:16px;
}

#profile p {
    font-size:14px;
    color:#949495;
}

/* ====== Company history List ====== */

#companyHistory {
    display: inline-block;
    vertical-align: top;
    width: 37%;
    height: 100%;
    padding-right:10px;
    box-sizing: border-box;
}

#companyHistory #cp_historyList {
    height: calc(100% - 48px);
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#companyHistory #cp_historyList::-webkit-scrollbar {
    display:none;
}

#companyHistory .company_list {
    margin-top: 10px;
    padding-top: 10px;
    border-top:1px solid #202020;
}

#companyHistory .company_list:first-child{
    margin-top: 0;
    border-top: 0;
}

.slowAdd .company_list {
    opacity: 1;
    transition: 1s;
}

.company_list .list_head {
    position: relative;
}

.company_list .cp_name {
    font-size:20px;
    color:#fff;
    font-weight:normal;
}

.company_list .cp_workday {
    position: absolute;
    top:auto;
    right:0;
    bottom:0;
    left:auto;
    font-size:12px;
    color:#949495;
}    

.company_list .cp_intro {
    font-size:16px;
    color:#c4c4c4;
}

.company_list .work_intro{
    position: relative;
    margin-top:5px;
    padding:10px;
    background:#202020;
}

.company_list .work_intro p{
    font-size:12px;
    color:#949495;
}

.company_list .cp_Portfolio {
    position: absolute;
    top: 50%;
    right: 10px;
    left:auto;
    z-index: 1;
    display:block;
    padding:5px 10px;
    margin-top: -14px;
    background-color: #555;
    font-size: 12px;
    color: #b4b4b4;
    border:0;
    outline:none;
}

.company_list .cp_choose {
    font-size: 11px;
    color: #949495;
}

.company_list .cp_skils {
    font-size: 12px;
    color:#949495;
}


/* ====== Portfoilo List ====== */
#portfolio {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 100%;
}
.all_ptList{ 
    font-size: 12px;
    color: #949494;
}
#portfolio_list {
    height: calc(100% - 45px);
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
}

#portfolio_list::-webkit-scrollbar{
    display:none;
}

.listItem {
    max-width:400px;
    padding:20px;
    margin-top:10px;
    background:#202020;
    box-sizing:border-box;
}

.listItem:first-child {
    margin-top:0;
}

.listTitle{
    color:#fff;
    font-size: 20px;
    font-weight:400;
}

.guideTxt p {
    font-size:12px;
    color:#b4b4b4;
}

.useSkill {
    font-size:12px;
    color:#555555;
}

.extra_txt:after {
    display: block;
    content:'';
    clear: both;
}

.linkUrl{
    float:left;
    color:#949495;
    font-size:12px;
}

.listDay {
    float: right;
    font-size:11px;
    color:#fff;
}
