@charset "utf-8";
/* =================== HEADER =================== */
.container .hcm-header{ padding:17px 20px; background:#2e2e2e; box-sizing:border-box; }

.hd_fixed { position:fixed; top:0; left:0; width:100%; z-index:1040; box-sizing:border-box; box-shadow:2px 2px 10px 1px silver;}

/* navgation */
.hcm-nav-btn { display:inline-block; vertical-align:middle; max-width:22px; }
.hcm-nav-btn-st { display:block; width:22px; height:18px; background:url('../img/nav_toggle.png')no-repeat top left; cursor:pointer;}

.hcm-nav { display:none; position:fixed; top:56px; left:0; width:190px; height:calc(100% - 48px); background:#323131; z-index:1040;}
.hcm-nav-open .hcm-nav { display:block; }
.hcm-nav-open .hcm-nav-btn-st { display:block; width:22px; height:18px; background:url('../img/nav_toggle.png')no-repeat bottom left;}

/* util */
.hcm-user-nickname { color:#fff; font-size:14px; }
.hcm-user-nickname.dropdown-toggle::after { display:none; }
.hcm-user-nickname:hover { color:#fff; }

.hcm-header .dropdown-menu {float:none; top:15px !important; border-radius:5px; padding:0; min-width:1px; border-color:#f0f0f0;}
.hcm-header .dropdown-item { font-size:12px; padding:10px 30px; border-top:1px solid #f0f0f0;}
.hcm-header .dropdown-item:hover { border-radius:5px; }
.hcm-header .dropdown-item:fisrt-child { border-top:0; }
.hcm-header .extra-arrow {  display:block; position:absolute; top:-11px; left:auto; right:35px; width:18px; height:12px; background:url('../img/dropdown_bg.png')no-repeat; }

.hcm-wrap-save { position:absolute; top:0; left:auto; right:0; }
.hcm-page-guide { width:100%; margin-top:15px; padding:20px; background:#f1f1f1; font-size:13px; color:#8a8a8a; line-height:150%;}
.hcm-page-guide.hcm-page-guide-red { background:#ffe0d3; color:#d47c55; }
.hcm-title-intro-box {  margin-top:10px; border:1px solid #ddd; padding:20px; font-size:13px; color:#8a8a8a; line-height:150%; }
.hcm-question-btn { display:block; width:24px; height:24px; background:url('../img/question_icon.png')no-repeat; }


/* nav tab */
.hcm-nav .nav-tabs { border-bottom:0; }
.hcm-nav .nav-tabs .nav-item { width:50%; text-align:center; margin:0;}
.hcm-nav .nav-tabs .nav-link { display:block; height:48px; line-height:48px; padding:0; font-size:14px; color:#8a8a8a; border-radius:0; border:0; background:transparent; cursor:pointer; box-sizing:border-box;  }
.hcm-nav .nav-tabs .nav-link.active { background:#403f3d; color:#fff; }

.hcm-nav .tab-content { height:calc(100% - 56px); padding:17px 0; background:#403f3d; box-sizing:border-box; }
.hcm-nav .tab-content .tab-pane { height:100%; overflow-y:auto; }

/* nav menu search */
.hcm-nav .hcm-navmenu-search{ position:relative; padding:0 20px; }
.hcm-navmenu-search .form-inline { position:relative; }
.hcm-navmenu-search .form-inline .form-control { width:100%; height:38px; padding-left:50px; font-size:12px; color:#fff; background:#323131; border:0; box-sizing:border-box;}

.hcm-navmenu-search .hcm-search-btn { position:absolute; top:11px; left:17px; display:block; width:17px; height:17px; border:0; background:url('../img/search_btn_icon.png')no-repeat left top; text-indent:-9999px;  }
.hcm-navmenu-search .hcm-search-btn:after { position:absolute; top:0; left:25px; display:block; width:1px; height:100%; background:#fff; content:"";}


.tab-content .tab-pane { display:none; }
.tab-content .tab-pane.active { display:block; }


.form-inline .form-control::-webkit-input-placeholder {
	font-size:14px;
	color: #fff;
	opacity: 0.2;
}

.form-inline .form-control::-moz-placeholder {
	font-size:14px;	
	color: #fff;
	opacity: 0.2;
}

.form-inline .form-control:-ms-input-placeholder {
	font-size:14px;	
	color: #fff;
	opacity: 0.2;
}

.form-inline .form-control::-ms-input-placeholder {
	font-size:14px;	
	color: #fff;
	opacity: 0.2;
}

.form-inline .form-control::placeholder {
	font-size:14px;	
	color: #fff;
	opacity: 0.2;
}

.hcm-nav-menu-wrap { }
.hcm-nav-menu-wrap .hcm-nav-menu-tit{ display:block; padding:15px 20px 8px 20px; font-size:16px; color:#fff; font-weight:900; }
.hcm-nav-menu-wrap.hcm-fav-menu-wrap > li { padding-top:10px; }
.hcm-nav-menu-wrap.hcm-fav-menu-wrap > li:first-child { padding-top:0; }


.hcm-menu-folder { display:block; width:100%; padding:7px 20px 0; font-size:14px; color:#fff; cursor:pointer;}
.hcm-menu-folder span { display:inline-block; vertical-align:middle; }

li.nav-item > ul{ display:none; }
.hcm-menu-folder .hcm-extra-icon { width:11px; height:11px; margin-right:8px; background:url('../img/nav_icon.png')no-repeat top left; }

li.hcm-active > ul { display:block; }
li.hcm-active .hcm-menu-folder .hcm-extra-icon { width:11px; height:11px; margin-right:8px; background:url('../img/nav_icon.png')no-repeat bottom left; }

.hcm-menu-link { display:block; width:100%; padding:9px 20px 9px 38px; font-size:14px; color:#b1b0b0; overflow:hidden;  cursor:pointer; box-sizing:border-box; }
.hcm-menu-link span.hcm-text-over { display:block; width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.hcm-menu-link:hover { background:#323131; color:#fae100; } 
.hcm-menu-link:hover  span.hcm-text-over { overflow:visible; text-decoration:none;text-overflow:clip; animation: slide-left 5s;  animation-iteration-count: infinite; }


@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 100%; 
  }

  to {
    margin-left: -30%;
    width: 100%;
  }
}

/* // nav tab */

/* // navgation */

.hcm-logo { display:inline-block; vertical-align:middle; max-width:73px; margin-left:20px; }
.hcm-logo a { display:block; width:100%; }
.hcm-logo img { max-width:100%; }

.hcm-util-box-btn span { font-size:14px; color:#acacac; }
.hcm-util-box-btn span:first-child { color:#fff; padding-right:5px; }

.hcm-history-wrap { position:relative; padding:14px 20px; background:#fff; font-size:0; box-sizing:border-box; }
.hcm-history-wrap ul { display:inline-block; vertical-align:middle; font-size:0; }
.hcm-history-wrap li { display:inline-block; vertical-align:middle; line-height:1;}
.hcm-history-wrap li:before { display:inline-block; vertical-align:middle; content:""; width:5px; height:9px; background:url('../img/history_arrow.png')no-repeat center center; background-size:5px 9px; font-size:14px; margin:0 10px; }
.hcm-history-wrap li:first-child:before { display:none; }
.hcm-history-wrap li a { display:inline-block; vertical-align:middle; font-size:13px; color:#999; }
.hcm-history-wrap li.hcm-active-pagetitle a { color:#1e1e1e; }
.hcm-history-wrap li.hcm-active-pagetitle:before { background:url('../img/history_active_arrow.png')no-repeat center center;}
.hcm-history-wrap .float-right a { position:absolute; bottom:14px; left:auto; right:20px;}

.hcm-page-title { position:relative; margin-top:20px; font-size:0; }
.hcm-page-title h2 { display:inline-block; vertical-align:middle; font-size:24px; color:#121212; font-weight:900; }
.hcm-page-title .hcm-favorite-btn { display:inline-block; vertical-align:middle; width:24px; height:23px; margin-left:8px; text-indent:-9999px; background-image:url('../img/bookmark.png'); background-repeat:no-repeat; background-position:top left; cursor:pointer; }
.hcm-page-title.active .hcm-favorite-btn { background-position:bottom left; }
.hcm-page-title.active .bookmark_pop { display:block; }

.hcm-page-title .bookmark_pop { display:none; position:absolute; top:30px; left:0; z-index:1000; padding:20px !important; background:#fff; border:1px solid #ddd;}
.hcm-page-title .bookmark_pop input[type="text"] { width:192px; }
.hcm-page-title .bookmark_pop .d-flex { margin-top:8px; }
.hcm-page-title .bookmark_pop select { width:120px; }
.hcm-page-title .text-center { margin-top:18px; }

/* =================== // HEADER =================== */

/* nav tabs */
.hcm-nav-tabs { position:relative; z-index:1; width:100%; margin-bottom:20px; background:#efefef; border-left:1px solid #d1d1d1; border-right:1px solid #d1d1d1; font-size:0; box-sizing:border-box; }
.hcm-nav-tabs .nav { flex-wrap:unset; }
.hcm-nav-tabs:before { display:block; content:""; position:absolute; top:0; left:0; width:100%; height:1px; background:#d1d1d1; z-index:0; }
.hcm-nav-tabs:after { display:block; content:""; position:absolute; top:auto; left:0; bottom:0; width:100%; height:1px; background:#101010; z-index:0; }
.hcm-nav-tabs .nav-tabs {border-bottom:0; }
.hcm-nav-tabs .nav-tabs li a { display:block; padding:9px 25px; font-size:12px; color:#101010; border:1px solid transparent; line-height:150%; background:transparent; box-sizing:border-box;}
.hcm-nav-tabs .nav-tabs a.active { position:relative; border-color:#101010; border-bottom-color:#fff; background:#fff; z-index:1;}

.hcm-tab-scroll { position:relative; overflow:hidden; box-sizing:border-box; }

.hcm-nav-tabs .swiper-container { display:inline-block; vertical-align:top; margin:0; width:calc(100% - 100px); }
.hcm-nav-tabs .swiper-container .swiper-slide { width:auto; }

.hcm-nav-tabs-btn { display:inline-block; vertical-align:top; min-height:38px; background:#fff; }

.hcm-nav-scroll-btn { display:inline-block; vertical-align:middle; line-height:38px; }
.hcm-nav-scroll-left-btn { border-radius:0; border:0; display:inline-block; vertical-align:middle; width:35px; min-height:38px; height:100%; background:#fff url('../img/tab_left_arrow.png')no-repeat center center; background-size:10px 17px; text-indent:-9999px; cursor:pointer;}
.hcm-nav-scroll-left-btn:hover { background:#9f9f9f url('../img/tab_left_arrow_ov.png')no-repeat center center; }
.hcm-nav-scroll-right-btn { border-radius:0; border:0; display:inline-block; vertical-align:middle; width:35px; min-height:38px; height:100%; border-right:1px solid #ddd; background:#fff url('../img/tab_right_arrow.png')no-repeat center center; background-size:10px 17px; text-indent:-9999px; cursor:pointer;}
.hcm-nav-scroll-right-btn:hover { background:#9f9f9f url('../img/tab_right_arrow_ov.png')no-repeat center center; }
.hcm-nav-scroll-btn > button {  font-size:14px; align-items:center; border-left:1px solid #ddd;}

.hcm-nav-toggle-btn { border-radius:0; border:0; display:inline-block; vertical-align:middle; cursor:pointer; width:30px; min-height:38px; background:#fff url('../img/tab_down_arrow.png')no-repeat center center; background-size:15px 15px; }
.hcm-nav-toggle-btn:hover { background:#9f9f9f url('../img/tab_down_arrow_ov.png')no-repeat center center;  }
.hcm-nav-toggle-btn.active { background:#fff url('../img/tab_top_arrow.png')no-repeat center center; background-size:15px 15px; }
.hcm-nav-toggle-btn.active:hover { background:#9f9f9f url('../img/tab_top_arrow_ov.png')no-repeat center center; background-size:15px 15px; }

.hcm-nav-toggle { display:none; position:absolute; top:37px; left:auto; right:-1px; min-width:120px; background:#fff; border:1px solid #ddd; z-index:9999; }
.hcm-nav-toggle li span { display:block; padding:10px 20px; font-size:12px; color:#333; text-align:center; cursor:pointer; }
.hcm-nav-toggle li span:hover { background:#f1f1f1; }


/* bottom nav tab*/
.hcm-nav-tabs.hcm-direction-bottom { position:relative;  margin-top:20px; background:#efefef; border:0; border-left:1px solid #d1d1d1; border-right:1px solid #d1d1d1 }
.hcm-nav-tabs.hcm-direction-bottom:before { display:block; content:""; position:absolute; top:0; left:0; width:100%; height:1px; background:#101010; z-index:0; }
.hcm-nav-tabs.hcm-direction-bottom:after { display:block; content:""; position:absolute; top:auto; left:0; bottom:0; width:100%; height:1px; background:#d1d1d1; z-index:0; }
.hcm-nav-tabs.hcm-direction-bottom .nav-tabs a.active { position:relative; border-color:#101010; border-top-color:#fff; background:#fff; z-index:1;}

/* left nav tab*/
.hcm-nav-tabs.hcm-direction-left { position:relative; background:#efefef; border:0; border-top:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1 }
.hcm-nav-tabs.hcm-direction-left:before { display:block; content:""; position:absolute; top:0; left:0; width:1px; height:100%; background:#d1d1d1; z-index:0; }
.hcm-nav-tabs.hcm-direction-left:after { display:block; content:""; position:absolute; top:0; left:auto; right:0; width:1px; height:100%; background:#101010; z-index:0; }
.hcm-nav-tabs.hcm-direction-left .nav-tabs { display:block; border:0; }
.hcm-nav-tabs.hcm-direction-left .nav-tabs a.active { position:relative; border-color:#101010; border-right-color:#fff; background:#fff; z-index:1;}

/* right nav tab*/
.hcm-nav-tabs.hcm-direction-right { position:relative; background:#efefef; border:0; border-top:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1 }
.hcm-nav-tabs.hcm-direction-right:before { display:block; content:""; position:absolute; top:0; left:0; width:1px; height:100%; background:#101010; z-index:0; }
.hcm-nav-tabs.hcm-direction-right:after { display:block; content:""; position:absolute; top:0; left:auto; right:0; width:1px; height:100%; background:#d1d1d1; z-index:0; }
.hcm-nav-tabs.hcm-direction-right .nav-tabs { display:block; border:0; }
.hcm-nav-tabs.hcm-direction-right .nav-tabs a.active { position:relative; border-color:#101010; border-left-color:#fff; background:#fff; z-index:1;}

/* hcm search wrapper */
.hcm-search-wrap { padding:15px 0; background:#e8e8e8; font-size:0; }
.hcm-search-wrap .hcm-btn-form { margin-right:20px; }

/* hcm detail-box */
.hcm-detail-box { margin-top:30px; font-size:0; }

/* hcm table */
.hcm-list-box { margin-top:30px; font-size:0; }
.hcm-list-box h3 + .row { padding-top:0; }
.hcm-list-box .hcm-top-bd { margin-bottom:0;  }
.hcm-list-box .hcm-btm-bd { margin-top:0; }

/* page-navgation */
.hcm-pgbar-record { font-size:12px; color:#505050; }

.hcm-page-per-record { text-align:right; font-size:12px; color:#505050; }
.hcm-page-per-record label { width:auto; padding:0; color:#505050; font-weight:normal; }
.hcm-page-per-record select { padding-left:5px; padding-top:2px; width:50px; height:16px; font-size:12px; color:#505050; border-color:#696969; }


/* profile */
.hcm-contents > .hcm-view-detail { margin:0; margin-bottom:30px; }
.hcm-pf-img { position:relative; width:128px; height:148px; background-repeat:no-repeat; background-size:cover; background-position:center top; }


/* hcm-left-nav */
.hcm-left-nav { margin-top:20px; padding:0 15px; }
.hcm-left-nav .hcm-nav-tabs { margin-bottom:0; }
.hcm-left-nav .tab-content { padding:20px 15px; background:#fff; }
.hcm-tree-menu ul li { padding-top:20px; }
.hcm-tree-menu > ul > li:first-child { padding-top:0; }

.hcm-tree-menu .hcm-tree-folder { font-size:0; }
.hcm-tree-menu .hcm-tree-folder span { display:inline-block; vertical-align:middle; font-size:12px; color:#202020; cursor:pointer; }
.hcm-tree-menu .hcm-tree-plus-icon { width:11px; height:11px; margin-right:5px; background:url('../img/tree_menu.png')no-repeat top left; }
.hcm-tree-menu .hcm-tree-plus-icon.hcm-tree-minus-icon { background-position:bottom left; }
.hcm-tree-menu .hcm-tree-Vertical-line { background:url('../img/tree_menu_line.png')no-repeat 5px top; }
.hcm-tree-menu .hcm-tree-Vertical-line .hcm-tree-Vertical-line { background-position:5px -10px; }
.hcm-tree-menu .hcm-tree-horizontal-line { padding-top:10px; padding-left:20px;  background:url('../img/tree_menu_line2.png')no-repeat 7px 17px;  }


/* page map */
.hcm-page-map { margin-bottom:20px; }
.hcm-page-map .row { padding:0; margin-top:10px; }
.hcm-page-map .row:first-child { margin-top:0; }
.hcm-page-map .hcm-page-map-inline-btn { padding:10px; border:1px solid #e3e3e3; }
.hcm-page-map .hcm-page-map-guide { width:93%; font-size:14px; color:#202020; line-height:150%; }

.hcm-page-map .hcm-page-map-btn .hcm-page-map-guide { width:calc(100% - 5% ); padding:10px; border:1px solid #ddd; border-right:0;}
.hcm-page-map .hcm-page-map-btn .hcm-btn-form { width:5%; padding:10px; border-top-left-radius:0; border-bottom-left-radius:0; border:1px solid #505050;}

.hcm-page-map-click-btn { width:100%; padding:15px 10px; font-size:14px; color:#202020; border:0; background:#faf0c7; text-align:left; }
.hcm-page-map-click-btn:hover { background:#faf0c7; color:#202020; }
.hcm-page-map-click-btn span{ display:inline-block; vertical-align:middle; line-height:150%; }
.hcm-page-map-click-btn span:first-child  { width:85%;  }
.hcm-page-map-click-btn span:last-child { position:relative; white-space:nowrap; }

.hcm-page-map-click-btn:last-child:before { display:block; content:""; position:absolute; top:20%; left:88%; width:1px; height:60%; background:#e8dfbb; } 

.scrtabs-tab-container { height:38px; }
.scrtabs-tab-scroll-arrow { height:100%; padding:0; border:0;  }


/* clender */

.hcm-clender-content .row { padding:0; }
.hcm-clender-content .row:first-child .hcm-clender-td { border-top:1px solid #ddd; }
.hcm-clender-title { align-items:center; margin-bottom:10px; }
.hcm-clender-title span { display:block; width:10px; height:17px; cursor:pointer; }
.hcm-clender-title .hcm-year-prev { background:#fff url('../img/tab_left_arrow.png')no-repeat center center; }
.hcm-clender-title .hcm-year-next { background:#fff url('../img/tab_right_arrow.png')no-repeat center center; }

.hcm-clender-title h3 { padding:0 20px; font-size:25px; color:##121212; }

.hcm-clender-td { position:relative; width:14.28571428571429%; min-height:100px; height:200px; overflow:hidden; padding:10px 0; border:1px solid #ddd; border-top:0; border-left-color:transparent; }
.hcm-clender-td:first-child { border-left-color:#ddd; }
.hcm-clender-td:hover .hcm-clender-plus { display:block; }


.hcm-clender-td .hcm-clender-day { width:26px; height:26px; text-align:center; line-height:26px; margin:5px; font-size:14px; font-weight:400; }
.hcm-clender-td.hcm-clender-holiday .hcm-clender-day { color:#da0000; }
.hcm-clender-td.hcm-clender-saturday .hcm-clender-day { color:#004af1; }
.hcm-clender-td .hcm-clender-plus { display:none; position:absolute; top:10px; right:10px; width:30px; height:30px; background:#fff url('../img/clender_icon_plus.png')no-repeat center center; cursor:pointer;  }

.hcm-clender-td .hcm-clender-list { height:calc(100% - 26px); }
.hcm-clender-td .hcm-clender-list li{ padding:7px 10px; font-size:12px; color:#202020; cursor:pointer; line-height:150%;}
.hcm-clender-td .hcm-clender-list li:hover { background:#f1f1f1; }

/* peve month next month disbled */
.hcm-clender-td.hcm-clender-disbled:hover .hcm-clender-plus { display:none; }
.hcm-clender-td.hcm-clender-disbled .hcm-clender-day { color:#ddd; }
.hcm-clender-td.hcm-clender-disbled .hcm-clender-list li { color:#ddd; }
.hcm-clender-td.hcm-clender-disbled .hcm-clender-list li:hover { background:#fff; }

/* today disbled */
.hcm-clender-td.hcm-clender-today {background:#fafafa; }
.hcm-clender-td.hcm-clender-today .hcm-clender-day { display:inline-block;  border-radius:100%; background:#1885e1; color:#fff; }

/* basic col box scroll - hover  */
.hcm-clender-wrap .hcm-clender-td:hover .hcm-clender-list{ overflow:auto;}

/* basic col box - height auto */
.hcm-clender-heightauto .hcm-clender-td { height:auto; }
.hcm-clender-heightauto .hcm-clender-td:hover .hcm-clender-list{ overflow:visible;}

/* basic col box hover - hover height auto */
.hcm-clender-hover-heightauto .hcm-clender-td:hover { height:auto; overflow:visible; }
.hcm-clender-hover-heightauto .hcm-clender-td:hover .hcm-clender-list { height:auto; }

/* basic col box scroll */
.hcm-clender-scroll .hcm-clender-td .hcm-clender-list{ overflow:auto; }


